---
layout: page
title: "About Me"
description: "Move the world forward with research"
header-img: "img/IMG_12012018_2.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>Advance the health of the public<br>
    Enhance understanding about the determinants of cancer and other chronic diseases</p></blockquote>

    <p>Hi, I'm<strong> En Cheng (MD, MSPH)</strong>, the first-year PhD student of Department of Chronic Disease Epidemiology at Yale University. My research interest is cancer epidemiology (particularly in GI cancer), covering etiology, prevention, treatment, survival, and complications. </p>

    <p>Before coming to Yale, I received my Medical Degree from Peking University, and Master of Science in Public Health (Epidemiology) from Emory.</p>

    <p>I also practice karate in my spare time. Currently I'm a member of Yale Shotokan Karate with the brown belt <a href="https://karate.sites.yale.edu/">YSK Pages</a> </p>
    
    <h5>Research Experience</h5>

    <p>I have had the opportunity and the privilege to work with the following distinguished mentors in the research context.</p>

    <ul>
        <li>Dr. Charles S. Fuchs (Richard Sackler and Jonathan Sackler Professor of Medicine; Director, Yale Cancer Center and Physician-in-Chief, Smilow Cancer Hospital) at <a href="https://www.yalecancercenter.org/patient/people/charles_fuchs.profile">Yale School of Medicine</a> </li>
        <li>Dr. Donna Spiegelman (Susan Dwight Bliss Professor of Biostatistics; Director, Center for Methods in Implementation and Prevention Science (CMIPS)) at <a href="https://publichealth.yale.edu/people/donna_spiegelman-1.profile">Yale School of Public Health</a> </li>
        <li>Dr. Nita Ahuja (William H. Carmalt Professor of Surgery; Chair, Department of Surgery) at <a href="https://medicine.yale.edu/surgery/education/nita_ahuja.profile">Yale School of Medicine</a> </li>
        <li>Dr. Shi-Yi Wang (Associate Professor; MD, PhD) at <a href="https://publichealth.yale.edu/people/shiyi_wang.profile">Yale School of Public Health</a> </li>
        <li>Dr. Roberd M. Bostick (Professor; Emory Winship Cancer Institute Cancer Prevention & Control Program Leader) at <a href="https://sph.emory.edu/faculty/profile/#!RMBOSTI">Emory Rollins School of Public Health</a> </li>
        <li>Dr. Christine L. Kempton (Associate Professor; HoG, Inc. Director's Chair in Hemostasis) at <a href="http://hemonc.emory.edu/faculty/clinical-research/kempton-christine.html">Emory School of Medicine</a> </li>
        <li>Dr. Manila Gaddh (Assistant Professor; MD) at <a href="http://hemonc.emory.edu/faculty/clinical-research/gaddh-manila.html">Emory School of Medicine</a> </li>
        <li>Dr. Yuan Liu (Research Assistant Professor; PhD) at <a href="https://www.sph.emory.edu/faculty/profile/#!YLIU31">Emory Rollins School of Public Health</a> </li>
        <li>Dr. Xinglin Feng (Associate Professor; PhD) at <a href="https://www.dovepress.com/public_profile.php?id=197007">Peking University School of Public Health</a> </li>
    </ul>
    
    <h5>Publications</h5>

    <ul>
        <li><a href="https://scholar.google.com/citations?user=tpusq0sAAAAJ&hl=en">Google Scholar</a></li>
        <li><a href="https://www.researchgate.net/profile/En_Cheng4">ResearchGate</a></li>
        <li><a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Cheng+E">PubMed</a></li> 
    </ul>
</div>

</div>


<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>Yet another iOS Developer. <br>
    Yet another Life-long Student.</p></blockquote>

    <p>Hi, I am <strong>Baiying Qiu</strong>，you can call me <strong>BY</strong>. I am an iOS software engineer and currently working in Xiamen</p>

    <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/qiubaiying">Github·BY</a>.</p>
    
    <p>I am a sports enthusiast, I like fitness, running and boxing.</p>

    <h5>Talks</h5>

    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="http://jekyll.com.cn/">jekyll</a></li>
    <li><a href="https://pages.github.com/">GitHub Pages</a></li>
    <li><a href="https://qiubaiying.github.io">BY</a></li>
    </ul>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

