---
layout: page
title: "About Me"
description: "Move the world forward with research"
header-img: "img/IMG_12012018_2.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>Advance the health of the public<br>
    Enhance understanding about the determinants of cancer and other chronic diseases</p></blockquote>

    <p>Hi, I'm<a href="https://divisionofresearch.kaiserpermanente.org/researchers/cheng-en/"><strong> En Cheng (MD, PhD)</strong></a>, a Research Postdoctoral Fellow at <a href="https://divisionofresearch.kaiserpermanente.org/">Kaiser Permanente Division of Research</a> starting from June 2021. My primary mentor is <a href="https://divisionofresearch.kaiserpermanente.org/researchers/feliciano-elizabeth"> Dr. Elizabeth M. Cespedes Feliciano </a> (Research Scientist II). My research interest is cancer epidemiology (particularly in gastrointestinal cancer and breast cancer), covering etiology, prevention, treatment, survival, and complications. </p>

    <p>I received my Doctor of Philosophy (Epidemiology) from Yale University, Master of Science in Public Health (Epidemiology) from Emory University, and Medical Degree from Peking University.</p>

    <p>I also practice karate in my spare time and am a black belt (Shodan). Currently I'm a member of <a href="https://www.jkakarate.com/ucsf-dojo.html">UCSF Mission Bay Dojo at JKA of California</a>, and used to train with Yale Shotokan Karate and Emory Shotokan Karate Club.</p>
    
    <h5>Research Experience</h5>

    <p>I have had the opportunity and the privilege to work with the following distinguished mentors in the research context.</p>

    <ul>
        <li><a href="https://www.yalecancercenter.org/patient/people/charles_fuchs.profile">Charles S. Fuchs</a>, MD, MPH (Richard Sackler and Jonathan Sackler Professor of Medicine; Director, Yale Cancer Center and Physician-in-Chief, Smilow Cancer Hospital) at Yale School of Medicine </li>
        <li><a href="https://publichealth.yale.edu/people/donna_spiegelman-1.profile">Donna Spiegelman</a>, ScD (Susan Dwight Bliss Professor of Biostatistics; Director, Center for Methods in Implementation and Prevention Science (CMIPS)) at Yale School of Public Health </li>
        <li><a href="https://publichealth.yale.edu/cde/profile/melinda_irwin/">Melinda Irwin</a>, PhD, MPH (Associate Dean of Research and Professor of Epidemiology (Chronic Diseases); Associate Cancer Center Director (Population Sciences), Yale Cancer Center; Co-Leader, Cancer Prevention and Control, Yale Cancer Center; Deputy Director (Public Health), Yale Center for Clinical Investigation) at Yale School of Public Health </li>
        <li><a href="https://www.dana-farber.org/find-a-doctor/jeffrey-a-meyerhardt/">Jeffrey A. Meyerhardt</a>, MD, MPH, FASCO (Professor of Medicine, Harvard Medical School; Clinical Director, Gastrointestinal Cancer Center) at Dana-Farber Cancer Institute </li>
        <li><a href="https://www.hsph.harvard.edu/edward-giovannucci/">Edward L. Giovannucci</a>, MD, ScD (Professor of Nutrition and Epidemiology) at Harvard T.H. Chan School Of Public Health </li>
        <li><a href="https://medicine.yale.edu/surgery/education/nita_ahuja.profile">Nita Ahuja</a>, MD, MBA (William H. Carmalt Professor of Surgery; Chair, Department of Surgery) at Yale School of Medicine </li>
        <li><a href="https://medicine.yale.edu/profile/cary_gross/">Cary Gross</a>, MD (Professor of Medicine and Chronic Diseases Epidemiology; Founder and Director, Cancer Outcomes Public Policy and Effectiveness Research (COPPER) Center) at Yale School of Medicine </li>
        <li><a href="https://publichealth.yale.edu/people/shiyi_wang.profile">Shi-Yi Wang</a>, MD, PhD (Associate Professor of Chronic Diseases Epidemiology) at Yale School of Public Health </li>
        <li><a href="https://sph.emory.edu/faculty/profile/#!RMBOSTI">Roberd M. Bostick</a>, MD, MPH (Professor of Epidemiology; Emory Winship Cancer Institute Cancer Prevention & Control Program Leader) at Emory Rollins School of Public Health </li>
        <li><a href="http://hemonc.emory.edu/faculty/clinical-research/kempton-christine.html">Christine L. Kempton</a>, MD, MSc (Professor of Hematology and Medical Oncology; HoG, Inc. Director's Chair in Hemostasis) at Emory School of Medicine </li>
        <li><a href="http://hemonc.emory.edu/faculty/clinical-research/gaddh-manila.html">Manila Gaddh</a>, MD (Associate Professor of Hematology and Medical Oncology; Director, Hematology Consult Service at Emory University Hospital and Emory University Hospital Midtown) at Emory School of Medicine </li>
        <li><a href="https://www.sph.emory.edu/faculty/profile/#!YLIU31">Yuan Liu</a>, PhD (Research Associate Professor of Biostatistics) at Emory Rollins School of Public Health </li>
        <li><a href="https://sph.pku.edu.cn/info/1683/4841.htm">Xinglin Feng</a>, PhD (Associate Professor of Health Policy and Management) at Peking University School of Public Health </li>
    </ul>
    
    <h5>Publications</h5>

    <ul>
        <li><a href="https://scholar.google.com/citations?user=tpusq0sAAAAJ&hl=en">Google Scholar</a></li>
        <li><a href="https://www.researchgate.net/profile/En_Cheng4">ResearchGate</a></li>
        <li><a href="https://pubmed.ncbi.nlm.nih.gov/collections/61439640/?sort=pubdate">PubMed</a></li> 
     </ul>
</div>

</div>


<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>Yet another iOS Developer. <br>
    Yet another Life-long Student.</p></blockquote>

    <p>Hi, I am <strong>Baiying Qiu</strong>，you can call me <strong>BY</strong>. I am an iOS software engineer and currently working in Xiamen</p>

    <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/qiubaiying">Github·BY</a>.</p>
    
    <p>I am a sports enthusiast, I like fitness, running and boxing.</p>

    <h5>Talks</h5>

    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="http://jekyll.com.cn/">jekyll</a></li>
    <li><a href="https://pages.github.com/">GitHub Pages</a></li>
    <li><a href="https://qiubaiying.github.io">BY</a></li>
    </ul>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

